<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;1,300;1,700&display=swap"
    rel="stylesheet">
</head>

<body>
  <header class="container-fluid">
    <nav class="navbar">
      <img class="logo" src="/images/logo.png" alt="">
      <form class="search-bar" action="" method="get">
        <ion-icon class="icon" name="search-outline"></ion-icon>
        <input class="search" type="search" name="" id="" placeholder="Type your search..." placeholder />
      </form>
      <ul class="mobile-menu">
        <li>
          <a href="#">
            <ion-icon name="information-circle-outline"></ion-icon>Our
            brand
          </a>
        </li>
        <li>
          <a href="#">
            <ion-icon name="bookmarks-sharp"></ion-icon>Favorites
          </a>
        </li>
        <li>
          <a href="#">
            <ion-icon name="cart-outline"></ion-icon>Cart
          </a>
        </li>
        <li>
          <a href="#">
            <ion-icon name="log-out-outline"></ion-icon>Log out
          </a>
        </li>
        <li>
          <a href="/users/login">
            <ion-icon name="log-in-outline"></ion-icon>Log in
          </a>
        </li>
      </ul>
      <ul class="menu">
        <li>
          <a href="#">
            <ion-icon name="information-circle-outline"></ion-icon>Our
            brand
          </a>
        </li>
        <li>
          <a href="#">
            <ion-icon name="bookmarks-sharp"></ion-icon>
            </ion-icon>Favorites
          </a>
        </li>
        <li>
          <a href="#">
            <ion-icon name="cart-outline"></ion-icon>Cart
          </a>
        </li>
        <li>
          <a href="#">
            <ion-icon name="log-out-outline"></ion-icon>Log out
          </a>
        </li>
        <li>
          <a href="/users/login">
            <ion-icon name="log-in-outline"></ion-icon>Log in
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="hero">
    </div>
    <h2>Go Ride. <br> Everything else can wait.</h2>
    <div class="product-grid">
      <div class="product grow">
        <img src="./images/svartpilen.png" alt="svartpilen" />
      </div>
      <div class="product grow">
        <img src="./images/svartpilen.png" alt="svartpilen" />
      </div>
      <div class="product grow">
        <img src="./images/svartpilen.png" alt="svartpilen" />
      </div>
      <div class="product grow">
        <img src="./images/svartpilen.png" alt="svartpilen" />
      </div>
      <div class="product grow">
        <img src="./images/svartpilen.png" alt="svartpilen" />
      </div>
      <div class="product grow">
        <img src="./images/svartpilen.png" alt="svartpilen" />
      </div>
      <div class="product grow">
        <img src="./images/svartpilen.png" alt="svartpilen" />
      </div>
      <div class="product grow">
        <img src="./images/svartpilen.png" alt="svartpilen" />
        <ion-icon class="icon" name="bookmark-sharp">
          <ion-icon name="bookmark-outline"></ion-icon>
      </div>
    </div>
  </main>
  <footer></footer>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>